.bg {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center; */
    /* align-items: center; */
    width: 20rem;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.text_box {
    display: flex;
    justify-content: center;
}

.box1 {
    /* add media query */
    border: 1px solid black;
    border-radius: 15px;
    height: 40vh;
    width: 55vw;
    padding: 1em;
    resize: none;
    font-size: 1rem;
}

.submission {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    margin-top: 1vh;
    margin-left: -16vw;
    margin-right: -16vw;
}

.submission>button {
    /* border: 2px solid black; */
    border: none;
    border-radius: 2rem;
    height: 3rem;
    width: 8rem;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #22577a;
    color: white;
    /* transition: all 0.3s ease-in-out; */
}

.submission>button:hover {
    cursor: pointer;
}
